.about {
    padding-top: 5%;
    padding-left: 2%;
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        margin-top: 2%;
        position: relative;
        &--mobile {
            display: none;
        }
    }
    &__icon-edit {
        background-color: $primary-color;
        cursor: pointer;
        text-align: center;
        &--mobile {
            display: none;
        }
    }
}

.personal-info {
    list-style: none;
    &__item {
        background-color: $color-personal-info;
        display: inline-block;
        padding: 1%;
        &__value {
            display: inline-block;
        }
        &__icon {
            background-color: $color-personal-info-icon;
            cursor: pointer;
            display: inline-block;
            padding: 2%;
            width: 25px;
            &:hover {
                background-color: $color-button-logout;
            }
        }
    }
}

.box-edit {
    background-color: #fff;
    box-shadow: 0px 0px 5px 2px rgba(212, 217, 218, 0.8392156862745098);
    height: 150px;
    padding: 3%;
    position: absolute;
    width: 300px;
    z-index: 2;
    &__title {
        margin-top: 1px;
    }
    &__field {
        border: 0;
        border-bottom: 2px solid $color-button-cover-image;
        display: inline-block;
        margin-top: 2%;
        width: 100%;
        &:focus {
            border: 0;
            border-bottom: 2px solid $color-button-logout;
            outline: 0;
        }
    }
    &__button {
        background-color: $color-button-logout;
        border-radius: 1px;
        border: 2px solid $color-button-logout;
        color: #fff;
        font-weight: bold;
        margin-top: 10%;
        padding: 1%;
        width: 80px;
        &--nocolor {
            color: $color-button-logout;
            background-color: transparent;
        }
    }
}

@media screen and ($breakpoint-phones) {
    .about__content--mobile {
        display: block;
    }
    .about__icon-edit--mobile {
        display: inline-block;
        height: 25px;
        width: 25px;
	}
	.box-edit {
		&__field {
			margin-top: 5%;
		}
	}
    .personal-info__item {
		width: 100%;
        &__icon {
            display: none;
        }
        &__value {
            width: 100%;
        }
    }
    .icon--desktop {
        display: none;
    }
}
