.page {
    background-color: $primary-color;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    &__content {
        margin: 5vh auto;
        width: 80%;
        &__header {
			background-color: $secondary-color;
			height: 25vh;
			min-height: 20vh;
			&__buttons {
				height: 50%;
				width: 100%;
			}
        }
        &__navbar {
            background-color: $secondary-color;
            box-shadow: 0px 0px 5px 0px rgba(212, 217, 218, 0.8392156862745098);
            margin-top: .5vh;			
			position: relative;
        }
        &__informations {
            background-color: $secondary-color;
            box-shadow: 0px 0px 5px 0px rgba(212, 217, 218, 0.8392156862745098);
            margin-top: 5vh;
            height: 50vh;
        }
    }
}

@media screen and ($breakpoint-phones) {
    .page {
        &__content {
            margin: 0;
			width: 100%;
			&__navbar { 
				margin-top: 80px;
			}
            &__header {
                background-color: $primary-color;
				min-height: 50vh;
				padding: 1%;
				&__buttons {
					height: 20%;
				}
            }
        }
    }
}
